.feedback {
  background-color: #1d3557;
  color: #f1faee;
}

.reviews {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.feedback-image {
  float: left;
  width: 50%;
  margin-right: 20px;
}

.feedback-photo {
  height: 168px;
  width: 225px;
  border: 3px solid #f1faee;
  border-radius: 10%;
}

.feedback .title-large {
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .reviews {
    display: inline;
    width: auto;
    height: auto;
  }

  .feedback {
    text-align: center;
    width: auto;
    height: auto;
  }

  .feedback-image {
    float: none;
    width: 100%;
  }

  .feedback-item {
    padding: 10px;
  }
}
