body {
  font-family: "Gill Sans", sans-serif;
  color: #f1faee;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.title-large {
  font-size: 60px;
  margin-bottom: 18px;
}

.title-medium {
  font-size: 48px;
  margin-bottom: 18px;
}

.title-small {
  font-size: 30px;
  margin-bottom: 5px;
}

.text-medium {
  font-size: 17px;
}

@media (max-width: 500px) {
  .intro .title-large {
    font-size: 30px;
  }

  .intro .text-lead {
    font-size: 15px;
  }
}
